@page "/"
@model OnlineBookStore.Pages.Home.IndexModel
@using OnlineBookStore.Models

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2">
    @foreach (var product in Model.Featured)
    {
        <div class="col d-flex align-items-stretch">
            <div class="card book-card shadow border-top border-4 h-100 w-100">
                <img src="@product.ImageURL" class="card-img-top rounded" alt="@product.Title"
                     style="height: 300px; object-fit: cover;" />

                <div class="card-body text-center d-flex flex-column">
                    <p class="card-title book-title text-dark text-uppercase fw-bold mb-1">
                        @product.Title
                    </p>
                    <p class="text-warning book-author mb-2">
                        by <b>@product.Author</b>
                    </p>
                    <p class="text-dark text-opacity-75 mb-3">
                        List Price:
                        <span class="text-black">
                            @product.ListPrice.ToString("C")
                        </span>
                    </p>
                    <div class="mt-auto">
                        <a asp-page="/Products/Details"
                           asp-route-id="@product.Id"
                           class=" btn btn-sm btn-secondary border-0 w-100">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (Model.TotalPages > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-page="/Home/Index" asp-route-pageNumber="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}
